$black : #232323;
$red: rgb(255, 56, 56);

.container{
    min-width: 1200px;
    margin: 0 auto;
    .wrapper{
      padding : 0 3rem;
      .home{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%; 
        width: 100%;
        p{
          font-size: 1rem;
          letter-spacing: 0.4rem;
          text-transform: uppercase;
          font-weight: 500;
        }
        h5{
          margin-top: 15rem;
          font-size: 2rem;
          font-weight: 600;
          padding-right: 12rem;
        }
      }
    }
  }
  .hamburger-menu{
    display: none;
    z-index: 9;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    .menu-secondary-background-color{
        background-color: $black;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: fixed;
        height: 100%;
        width: 100%;
        z-index: -1;
    }
    .menu-layer{
        position: relative;
        background: $red;
        height: 100%;
        overflow: hidden;
        .menu-city-background{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
        }
        .wrapper{
            position: relative;
            .menu-links{
                display: flex;
                justify-content: space-around;
                position: relative;
                top: 125px;
                nav{
                    display: block;
                    ul{
                        padding: 0;
                        margin: 0;
                        li{
                            list-style: none;
                            font-size: 6rem;
                            font-weight: 700;
                            cursor: pointer;
                            height: 135px;
                            overflow: hidden;
                            position: relative;
                            width: 700px;
                            a{
                                position: absolute;
                                color: white;
                                text-decoration: none;
                                &:hover{
                                    color: $black;
                                }
                            }

                        }
                    }
                } 

                .info{
                    color: #fff;
                    width: 300px;
                    h3{
                        font-size: 1.2rem;
                        margin: 8px auto;
                    }
                    p{
                        margin: 0 auto;
                        font-size: 0.8rem;
                    }
                }
            }
            .locations{
                position: absolute;
                color: #fff;
                font-size: 1rem;
                font-weight: 600;
                bottom: -3rem;
                span{
                    color: rgba(255, 255, 255, 0.84);
                    &:first-child{
                        margin-left: 64px;
                    }
                    cursor: pointer;
                    margin: 0 32px;
                    transition: 0.3s ease-in;
                    padding: 8px 24px;
                        border-radius: 4px;
                    &:hover{
                        background-color: $black;
                        color: #fff;
                        
                    }
                }
            }
        }
    }   
  }