.menu{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;

    z-index: 10;
    .logo{
        padding-left: 2rem;
    }
    .menu-button{
        margin-right: 2rem;
    }
}